# Neon Database (Production)
DATABASE_URL="postgresql://username:password@host/database"
POSTGRES_URL="postgresql://username:password@host/database"
POSTGRES_PRISMA_URL="postgresql://username:password@host/database"
DATABASE_URL_UNPOOLED="postgresql://username:password@host/database"
POSTGRES_URL_NON_POOLING="postgresql://username:password@host/database"
PGHOST="host"
POSTGRES_USER="username"
POSTGRES_PASSWORD="password"
POSTGRES_DATABASE="database"
PGPASSWORD="password"
PGDATABASE="database"
PGHOST_UNPOOLED="host"
PGUSER="username"
POSTGRES_URL_NO_SSL="postgresql://username:password@host/database"
POSTGRES_HOST="host"

# SQL Server (Local Development)
SQLSERVER_USER="sa"
SQLSERVER_PASSWORD="YourPassword123!"
SQLSERVER_HOST="localhost"
SQLSERVER_DATABASE="FitStyleDB"
